body {
  margin: 0;
}
#title {
  margin: 20px 24px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 20px 12px 20px 24px;
}
.term::before {
  color: black;
  content: "\25B6";
  display: inline-block;
  margin-right: calc(8px * .75);
  transform: scale(.75);
}
.term-expanded::before {
  transform: scale(.75) rotate(90deg);
}
.term-expandable {
  cursor: pointer;
}
.note {
  margin-left: 24px;
}
.descriptive-note {
  margin: 8px 0;
}
.children {
  display: none;
}
.active {
  display: block;
}
